<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/nlog-internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets async="true">
		<target xsi:type="File"
				name="webApiFile"
				fileName="${basedir}/logs/webapi/current.log"
				archiveFileName="${basedir}/logs/webapi/archive/${shortdate}.{#}.log"
				archiveEvery="Day"
				archiveNumbering="DateAndSequence"
				archiveOldFileOnStartup="true"
				maxArchiveFiles="30"
				maxArchiveDays="14"
				keepFileOpen="false"
				createDirs="true"
				layout="${longdate}|${uppercase:${level}}|${logger}|requestId=${aspnet-traceidentifier}|${message}${onexception:inner= ${exception:format=tostring}}" />

		<target xsi:type="File"
				name="distanceCalcFile"
				fileName="${basedir}/logs/distancecalc/current.log"
				archiveFileName="${basedir}/logs/distancecalc/archive/${shortdate}.{#}.log"
				archiveEvery="Day"
				archiveNumbering="DateAndSequence"
				archiveOldFileOnStartup="true"
				maxArchiveFiles="30"
				maxArchiveDays="14"
				keepFileOpen="false"
				createDirs="true"
				layout="${longdate}|${uppercase:${level}}|${logger}|${message}${onexception:inner= ${exception:format=tostring}}" />
	</targets>

	<rules>
		<logger name="DistanceCalc.*" minlevel="Debug" writeTo="distanceCalcFile" final="true" />
		<logger name="DistanceWebApi.*" minlevel="Information" writeTo="webApiFile" final="true" />

		<logger name="Microsoft.Hosting.Lifetime" minlevel="Information" writeTo="webApiFile" final="true" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="Microsoft.*" minlevel="Warn" writeTo="webApiFile" final="true" />

		<logger name="System.*" maxlevel="Info" final="true" />
		<logger name="System.*" minlevel="Warn" writeTo="webApiFile" final="true" />
	</rules>

</nlog>